body {
  background-color: black;
  font-family: "Jockey One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80vmin;
  align-items: center;
  margin-left: 10px;
}

.navSpacer {
  width: 75px;
}

.titleCont {
  position: relative;
  color: rgb(245, 245, 245);
  font-size: 40px;
  font-family: "Alfa Slab One", cursive;
}
.titleSpan {
  height: 52%;
  position: absolute;
  color: white;
  overflow: hidden;
  font-family: "Arvo", serif;
  font-family: "Alfa Slab One", cursive;
}
.titleContSm {
  display: none;
}

.reset {
  grid-column: 3/4;
  width: 75px;
  height: 25px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding-right: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameBoard {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
}
.outerCell {
  /* these need an absolute height 
  so the innerCells can be 100% and stay square*/
  width: 16vmin;
  height: 16vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}
.cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* this can be vmin, bc each box is vmin
  so they'll change at the same rate */
  font-size: 2.5vmin;
}

.middleText {
  font-size: 2.5vmin;
}
.phraseText {
  /* font-size: 3.5vmin; */
  padding: 3px;
}

.quote {
  background-color: #42ab4f;
  color: white;
  border: 2px solid white;
}

.drop {
  background-color: white;
  color: #42ab4f;
  border: 2px solid #42ab4f;
}

.xClass {
  font-size: 0.1px;
  background-image: url("football45deg.png");
  background-size: 16vmin, 16vmin;
  color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    width: 85vmin;
  }
  .navSpacer {
    display: none;
  }
  .titleCont {
    font-size: 6.2vmin;
  }
}

@media only screen and (max-width: 480px) {
  main {
    margin-left: -10px;
  }
  .titleCont {
    margin-bottom: 5px;
  }

  .outerCell {
    /* these need an absolute height 
    so the innerCells can be 100% and stay square*/
    width: 17vmin;
    height: 17vmin;
    margin-bottom: 4px;
    margin-left: 4px;
  }
  .phraseText {
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
  }

  .quote {
    background-color: #42ab4f;
    color: white;
    border: 1px solid white;
  }

  .drop {
    background-color: white;
    color: #42ab4f;
    border: 1px solid #42ab4f;
  }
  /* 
  .titleContSm{
    display:flex;
  }

  .titleSm{
    border: 1px solid lightcyan;
    color: rgb(245, 245, 245);
    color: white;
    font-size: 40px;
    font-family: 'Alfa Slab One', cursive;
  } */
}
